* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-decoration: underline;
}

a {
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    border-color: #0f015c;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

nav::after,
main::after,
header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgb(20, 3, 97), rgb(238, 214, 0));
}

footer {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LogoActiveEdgeSports {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


.TittleActive {
    text-align: center;
    width: 93vw;
}

.LinkPages {
    text-decoration: none;
    color: black;
    margin-left: 1%;
}

.Products {
    display: flex;
    justify-content: space-around;
}

.Product {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 30%;
}

.ProductPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-bottom: 10px;
}

button {
    border-radius: 8px;
    padding: 2px;
    background-color: white;
    border-color: #0f015c;
}

.Categories {
    display: flex;
    justify-content: space-around;
}

.Categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.ImageProductPrinc {
    width: 30%;
    height: 50%;
    object-fit: scale-down;
}

.ImageCategorie {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.Members {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Position {
    text-decoration: underline;
}

.AboutUs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}

.Team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
}

.Values {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

.Member {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImageMember {
    width: 40%;
}

.MainProducts {
    display: flex;
    flex-direction: row;
}

ol {
    counter-reset: lista;
    list-style-type: none;
}

ol>li {
    counter-increment: lista;
    font-weight: bold;
}

ol>li ol li {
    font-weight: normal;
}

ol ol {
    counter-reset: sublista;
}

ol ol>li {
    counter-increment: sublista;
}

ol>li>ol>li::before {
    content: counter(lista) "." counter(sublista) " ";
}

ol>li::before {
    content: counter(lista) ". ";
}

.CategorieProducts {
    height: 100%;
    width: 20%;
}

.ProdPageProducts {
    height: 100%;
    width: 80%;
}

.OurProd {
    height: 75%;
}

.Benefits {
    height: 25%;
}

.ProductsPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.CategoriePrin {
    font-weight: bold;
}

table{
    width: 90%;
    border-collapse: collapse;
}

table, td ,th{
    border: solid 1px black;
}

