* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.LogoActiveEdgeSports {
    width: 50px;
    height: 50px;
}

.TittleActive {
    display: inline;
    margin-left: 30%;
}

.LinkPages {
    text-decoration: none;
    color: black;
    margin-left: 1%;
}

nav {
    padding-left: 35%;
}

.TittleProducts{
    padding-left: 20%;
}

.Slogan1{
    padding-left: 25%;
}

.Slogan2{
    padding-left: 33%;
}

.Product {
    display: inline-block;
    width: 25%;
    margin-left: 7%;
}

.ImageProductPrinc{
    width: 60%;
}

.TittleCategories{
    padding-left: 40%;
}

.ImageCategorie{
    width: 30%;
}